h1 { 
  color: #FFF;
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

img{
  display: flex;
  justify-content: center;
  margin: auto;
}

.text-conteudo{
  color: #FFF;
  font-family: Segoe UI;
  font-style: normal;
  line-height: normal;  
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

p{
 padding-bottom: 10px;
}
