.logo{
    max-width: 100%;
}

#topo_contato {
    background-color: #093A00;

    color: #fff;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

#numero_contato {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 60px;
}

#img_Perfil {
    margin-left: 60px;
    
}

#img_Perfil img{
    border-radius: 122px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 80px;
    height: 80px;
}

#chat_Game {
    background-image: url(../components/ca34dee9445e2f2c9e992d3e80b6eadc.jfif);
    height: 42rem;
    padding: 1rem 2rem;
    
}

#chat_Game p{
    font-weight: 700;
    font-size: 20px;
}



#balao_pergunta {
    background-color: #707070;
    border-radius: 50px;
    width: 60%;
    padding: 1rem 2rem;
    color: #fff;
    
}

#text1 {
    font-family: Segoe UI;
    font-size: 20px;
    line-height: normal;
    
}

#balao_resposta{
    background-color: #fff;
    border-radius: 50px;
    width: 85%;
    padding: 1rem 4rem;
    color: #000101;
    font-family: Segoe UI;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
}

#opcao_resposta{
    background-color: #2C6700;
    width: 65%;
    flex-shrink: 0;
    padding: 2rem 2rem;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 30%;
    display: block;
}


#resposta_fim_de_jogo{
    background-color: #282828;
    width: 94rem;
    flex-shrink: 0;
    padding: 2rem 2rem;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 5rem;
    color: #fff;
    
}

#btn_final_div{    
    justify-content: center;
    margin-top: 3rem;
    
}


#btn_final_div button{
    background-color: #FFF;
    padding: 1rem 2rem;    
    border-radius: 40px;
}
#text1{
    font-size: 50px;
}
