* {
    margin: 0;
    padding: 0;
}

#navegacao {
    background-color: #006FFF;
    height: 70px;
}

#topo_contato {
    background-color: #093A00;
    height: 100px;
    color: #fff;
    display: flex;
    padding: 1rem;
    align-items: center;
}

#numero_contato {
    color: #FFF;
    font-family: Segoe UI;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 60px;
}

#img_Perfil {
    margin-left: 60px;
    
}

#img_Perfil img{
    border-radius: 122px;
    background: url(../components/gerente.png), lightgray 50% / cover no-repeat;
    width: 100px;
    height: 100px;
}

#chat_Game {
    background-image: url(../components/background-chat.jfif);
    height: 50rem;
    padding: 2.5% 5%;
    

}

#chat_Game p{
    font-weight: 700;
    font-size: 25px;
}

#rodape {
    height: 70px;
    background-color: #006FFF;
}

#balao_pergunta {
    background-color: #707070;
    border-radius: 50px;
    width: 70%;
    padding: 1rem 2rem;
    margin-top: 1.5%;
    color: #fff;
    
}

#text1 {
    font-family: Segoe UI;
    font-size: 20px;
    line-height: normal;
    
}

#balao_resposta{
    background-color: #fff;
    border-radius: 50px;
    width: 90%;
    padding: 1rem 2rem;
    color: #000101;
    font-family: Segoe UI;
    font-style: normal;
    line-height: normal;
   
    margin-bottom: 20px;
}

#opcao_resposta{
    background-color: #2C6700;
    width: 70%;
    flex-shrink: 0;
    padding: 2rem 2rem;
    border-radius: 50px;
    margin-top: 10%;
    margin-left: 30%;
    display: block;
}


#resposta_fim_de_jogo{
    background-color: #282828;
    width: 94rem;
    flex-shrink: 0;
    padding: 2rem 2rem;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 5rem;
    color: #fff;
    display: none;
}

#btn_final_div{
    display: none;
    justify-content: center;
    margin-top: 3rem;
    
}


#btn_final_div button{
    background-color: #FFF;
    padding: 1rem 2rem;
    border: none;
    border-radius: 40px;
}

